//Variáveis
$background-color-main: #E4FFC9;
$background-color-nav: #C4DCAB;
$background-color-itens: linear-gradient(rgba(89, 103, 75, 1), rgba(89, 103, 75, 0.8));

//Imports
@import "./layout/main.scss";
@import "./layout/header.scss";
@import "./layout/nav.scss";
@import "./base/normalize.scss";