/*VARIÁVEIS*/
$bg-color-main: #E4FFC9;
$bg-color-header: linear-gradient(to bottom, #B5C1A9 0%, #59674B 2px, #7F936B 100%);
$bg-color-nav: #C4DCAB;

/*PADRÃO GERAL*/
fieldset {
    border: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/*IMPORTS*/
@import "./layout/main.scss";
@import "./layout/header.scss";
@import "./layout/nav.scss";