//Geral
header {
    color: #ffffff;
    font-size: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-image: $background-color-itens;
    background-repeat: repeat-x;
    margin: 15px 15px 15px 4px;
    padding: 5px 5px 10px;
    border-radius: 10px;
}

header .container {
    display: flex;
    align-items: center;
}

//Imagem
#imagem-logo {
    width: 201px;
    height: 60px;
    padding: 10px;
    float: left;
}

//Introdução
#header-intro {
    p {
        margin: 0 auto;
    }

    h1 {
        margin: 0 auto;
    }

    flex-grow: 1;
}

//Campo de pesquisa
fieldset {
    border: 0px;
}

.header-form-input {
    display: flex;
    font-size: 1.5em;
    .header-form-input-text{
        border-radius: 6px 0px 0px 6px;
    }
    .button-advanced-search{
        width: 20px;
    }
    .button-search{
        width: 20px;
    }
    i{
        width: 20px;
        height: auto;
    }
}

//Responsividade
@media (max-width: 700px) {

    #imagem-logo,
    .header-search-form,
    p {
        display: none;
    }

    h1 {
        margin: 0 auto;
    }

    #header-intro {
        display: flex;
    }

    header {
        margin: 0;
        border-radius: 0;
    }

    body {
        padding: 0;
    }

}