/* GERAL */
header {
    color: #ffffff;
    font-size: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-image: $background-color-itens;
    background-repeat: repeat-x;
    margin: 15px 15px 15px 4px;
    padding: 5px 5px 10px;
    border-radius: 10px;
}

header .container {
    display: flex;
    align-items: center;
}

/*LOGO*/
#imagem-logo {
    width: 201px;
    height: 60px;
    padding: 10px;
    float: left;
}

/*INTRO*/
#header-intro {

    #header-intro-title,
    #header-intro-paragraph {
        margin: 0 auto;
    }

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CAIXA DE PESQUISA*/
.header-form-input {
    display: flex;
    font-size: 1.5em;

    fieldset {
        border: 0px;
    }

    .header-form-input-text {
        border-radius: 6px 0px 0px 6px;
        margin: 0;
    }

    .material-icons {
        font-size: 18px;
    }

}

/*RESPONSIVIDADE*/
@media (max-width: 850px) {

    #imagem-logo,
    .header-search-form,
    p {
        display: none;
    }

    h1 {
        margin: 0 auto;
    }

    #header-intro {
        display: flex;
    }

    header {
        margin: 0;
        border-radius: 0;
    }

    body {
        padding: 0;
    }

}